# example servers.py file

HOST_TABLE = {
  'example.com': {
    'ssh_root': '/ssh_path/to/public_html',
    'ftp_root': '/ftp_path/to/public_html',
    'login': 'ssh_user',
    'password': 'ftp_password',
    'identity_file': '/home/me/.ssh/id_dsa'
  }
}

# this is the named callable we export
def host_info(hostname):
  return HOST_TABLE.get(hostname)
